body{
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.container{
    width: 500px;
    height: 300px;
    text-align: center;
    border: 3px solid black ;
    border-radius: 20px;
    background-color: beige;  
}
#subjects{
    height: 40px;
    border-radius: 5px;
}